.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-family: arial;
    
  }
  h2{
      text-align: center;
      color:red
  }
  b{
      color:coral
  }