body{
     
    margin: 0;  
   padding: 0;  

   font-family: 'Arial'; 
}
.new{  
       width: 382px;  
       overflow: hidden;  
       margin: auto;  
       margin: 20 0 0 450px;  
       padding: 80px;  
       background: #23463f;  
       border-radius: 15px ;  
         
}  
h2{  
   text-align: center;  
   color:red; 
   padding: 20px;  
}  
label{  
   color: #08ffd1;  
   font-size: 17px;  
}  
#url{  
   width: 300px;  
   height: 30px;  
   border: none;  
   border-radius: 3px;  
   padding-left: 8px;  
}  
#price{  
   width: 300px;  
   height: 30px;  
   border: none;  
   border-radius: 3px;  
   padding-left: 8px;  
     
}  
#sub{  
   width: 300px;  
   height: 30px;  
   border: none;  
   border-radius: 17px;  
   padding-left: 7px;  
   color: blue;  
 
 
}  
#clos{
   width: 300px;  
   height: 30px;  
   border: none;  
   border-radius: 17px;  
   padding-left: 7px;  
   color: blue;  
  
} 
button:hover{
   background-color: red;
}
#catg{
   width: 300px;  
   height: 30px;  
   border: none;  
   border-radius: 3px;  
   padding-left: 8px; 
}
#des{
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
 }
 #title{
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px; 
 }
.error{
   color: red;
}